# ============================================================
#  SOFA — Environment Variables
#  Copy this file to .env and fill in your values
# ============================================================

# MongoDB Atlas Connection String
# Get this from: https://cloud.mongodb.com → Connect → Drivers → Node.js
MONGODB_URI=mongodb+srv://kaushikrawal4365_db_user:<db_password>@cluster0.apomaoe.mongodb.net/?appName=Cluster0

# JWT Secret — any long random string
JWT_SECRET=sofa_super_secret_jwt_key_change_this_2024

# Server Port
PORT=3000
